html {
    overflow: hidden;
}

html.init-slide-hidden {
    overflow: auto;
}

header {
    overflow: hidden;
    max-height: 20vh;

    transition: max-height ease-in 2s;
}

/*html:not(.init-slide-hidden) header {
    max-height: 0;
    width: 100vw;
}*/

#init-slide {
    height: 100vh;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--color-background);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#init-slide {
    visibility: hidden;
}

.init-slide-hidden #init-slide {
    top: -100vh;
}

#init-slide h1 {
    color: var(--color-text-secondary)
}

.large-logo {
    width: 50vw;
}

ul {
    font-size: 2em;
}

h1 {
    text-align: center;
}

.socials-container {
    display: flex;
    width: auto;
    justify-content: center;
    gap: 1em;
    column-gap: 5%;
    flex-wrap: wrap;
}

.social-panel {
    width: 80%;
    height: 3em;

    /*display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: row;*/

    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;

    padding: .5em;

    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1.5em;


    border: var(--color-secondary) var(--border-size-primary) solid;
    border-radius: var(--border-radius-primary);
    background-color: var(--color-background-secondary);
}

.social-panel img {
    height: calc(2em - 2*var(--border-size-primary));
    width: calc(2em - 2*var(--border-size-primary));
    /*aspect-ratio: 1/1;*/
    object-fit: contain;
}

.social-panel span {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--font-secondary);
}

.social-panel:hover, .social-panel:focus {
    border-color: var(--color-accent);
}

@media screen and (min-width: 800px) {

    html:not(.init-slide-hidden) header {
        max-height: unset;
    }

    .social-panel {
        aspect-ratio: 1/1;
        width: 30%;
        max-width: 250px;
        height: unset;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .social-panel img { 
        width: 60%;
    }
    

    .social-panel img {
        height: 60%;
        width: 60%;
        aspect-ratio: 1/1;
        /*aspect-ratio: 1/1;*/
        object-fit: contain;
    }

    
}