<script src="/js/nav.js"></script>
<a class="img--container" href="/"><img class="home-logo" src="/imgs/logo.png" alt="home button with logo"></a>
<h1>fossinating</h1>
<a href="javascript:void(0);" onclick="popoutNav()" class="nav-popout-button">&#9776;</a>
<nav>
    <a {{ if in .Permalink "updates" }}class="active"{{ end }} href="{{ ref . "/updates/_index.md" }}">Updates</a>
    <a {{ if in .Permalink "projects" }}class="active"{{ end }} href="{{ ref . "/projects/_index.md" }}">Projects</a>
</nav>